@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    /* background: url(./../public/img/Desktop.png) 50%/cover no-repeat;
    background-size: 1440px 0 980px 0; */
    /* background: #1E1E1E; */
    background: #0E1014;
    color:#E4E5EA;
    height: 100%;
    margin: 0;
}
